<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>966983953608-0t4m9gic4io24nofsa76rr43mfmaicpt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.966983953608-0t4m9gic4io24nofsa76rr43mfmaicpt</string>
	<key>API_KEY</key>
	<string>AIzaSyBrAeYfA5ak-fydyzwv8KuxM06TQ3QG1w0</string>
	<key>GCM_SENDER_ID</key>
	<string>966983953608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.petDrive</string>
	<key>PROJECT_ID</key>
	<string>petdrive-2022</string>
	<key>STORAGE_BUCKET</key>
	<string>petdrive-2022.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:966983953608:ios:d21834dbd4fae94f1289fd</string>
</dict>
</plist>